<?php

/**
 * Release notifier.
 *
 * @package    release-notifier
 * @author     David Molineus <david.molineus@netzmacht.de>
 * @copyright  2018 netzmacht David Molineus
 * @license    LGPL-3.0-or-later https://github.com/netzmacht/release-notifier/blob/master/LICENSE
 * @filesource
 */

declare(strict_types=1);

use Abraham\TwitterOAuth\TwitterOAuth;
use Netzmacht\ReleaseNotifier\Package\Release;
use Netzmacht\ReleaseNotifier\Publisher\Tapatalk\PostPublisher;
use Netzmacht\ReleaseNotifier\Publisher\Tapatalk\TopicPublisher;
use Netzmacht\ReleaseNotifier\Publisher\Twitter\Renderer as TwitterStatusRenderer;
use Netzmacht\ReleaseNotifier\Publisher\Twitter\StatusPublisher;

return [
    'publishers' => [
        // Tapatalk endpoint, usually the board url with mobiquo/mobiquo.php suffix
        [
            'name'     => 'forum-de',
            'type'     => PostPublisher::class, // Or TopicPublisher::class
            'config'   => [
                'url'       => 'https://example.com/mobiquo/mobiquo.php',
                'user'      => '',
                'password'  => '',
                // Optional condition. Set to null if not required.
                'condition' => function (Release $release): bool {
                    if ($release->version()->hasPreReleaseSuffix()) {
                        return false;
                    }

                    return true;
                },
                'renderer' => [
                    'subject' => function (Release $release, array $options): string {
                        return sprintf('Package "%s" released', $release);
                    },
                    'body' => function (Release $release, array $options): string {
                        return sprintf(
                            'Version "%s" of "%s" got released. More information at [url]%s[/url]',
                            $release->version(),
                            $release->name(),
                            $release->link()
                        );
                    }
                ]
            ],
        ],
        [
            'name'   => 'twitter',
            'type'   => StatusPublisher::class,
            'config' => [
                // Create a new app on developer.twitter.com and take the consumer key and secret
                // Also generate access tokens and access tokens secret for your app there
                'consumer_key' => '',
                'consumer_secret' => '',
                'access_token' => '',
                'access_token_secret' => '',
                'renderer' => new class implements TwitterStatusRenderer {
                    public function renderStatus(Release $release, TwitterOAuth $connection, array $options = []): array {
                        return [
                            'status' => trim(
                                sprintf(
                                    'Just released %s %s. %s %s',
                                    $release->name(),
                                    $release->version(),
                                    $release->link(),
                                    $options['hashtags'] ?? ''
                                )
                            ),
                        ];
                    }
                }
            ],
        ],
    ],

    // List of packages. Each publisher configuration has to refer to the publisher name configured above.
    'packages'  => [
        [
            'package'    => 'foo/package-a',
            'publishers' => [
                'forum-de' => [
                    'forumId'   => 123,
                    'topicId'   => 456, // Only required for the PostPublisher
                    'options' => [], // Options being passed to your renderer. Define any if you want.
                ],
                'twitter' => [
                    'hashtags' => '#foo #bar'
                ]
            ],
            'options' => [], // Options being passed to your renderer if no options for the publisher itself are defined
        ],
    ],

    // Define a wait interval in seconds between each publish action. Useful to cope with API limits
    'wait' => 0
];
